.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
out/
.idea/
.idea_modules/
*.iws
*.iml
*.ipr
!**/src/main/**/out/
!**/src/test/**/out/

### Java ###
.mtj.tmp/
*.class
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

### Others ###
*.log